/* Global Styles
----------------------------------*/
body {
    color: #19231A;
    margin: 0;
    padding: 0;
}


img {

    width: 300px;
}
html{
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
}
a{
    color: #a08794;
}

a:hover {
    text-decoration: none;
}

h2 {
    margin: 0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;

}
/* Profile
----------------------------------*/
header {
    background-color: #721817;
    color: #F7FFf7;
}

/* Projects
----------------------------------*/
.projects{
    background-color: #f7f3e3;
}

.projects a{
    color: #721817; 
}

.projects .btn{
    color: #f7f3e3;
    background-color:  #721817; 
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(153,13,53,80%);
}
.project-item{
    overflow: hidden;
    border-bottom: 1px solid #721817;
    padding: 25px 0;
}

.project-item img {
    float: left;
    margin: 20px;

}



/* Work Experience
----------------------------------*/
.work-experience{
    background-color: #990d35;
    color: #F7FFf7;
}

/* Education
----------------------------------*/

/* Contact Info
----------------------------------*/

footer {
    background-color: #a08794;
    
}
#phone {
    color: #721817; 
    
    font-weight: bold;
}
#email {
    color: #721817; 
    text-decoration: none;
    font-weight: bold;
}